/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td: td {
            compatible = "zmk,behavior-tap-dance";
            label = "TD";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
          &kp KP_N7  &kp KP_N8  &kp KP_N9   &kp BSPC
          &kp KP_N4  &kp KP_N5  &kp KP_N6   &kp KP_PLUS
          &kp KP_N1  &kp KP_N2  &kp KP_N3   &kp KP_MULTIPLY
&kp C_PP  &td        &kp KP_N0  &kp KP_DOT  &kp KP_EQUAL
            >;
        };

        layer_1 {
            bindings = <
        &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans
&trans  &to 0   &trans  &trans  &trans
            >;
        };
    };
};
